.OrgDetails {
  max-width: 800px;
  padding: 20px;
  position: relative;
  margin-left: 50px;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1.5rem;
}

.btn {
  display: inline-block;
}

.btn-primary {
  padding: 10px 20px;
}

.text-center.mt-4 {
  position: absolute;
  bottom: 20px;
  left: 130%;
  transform: translateX(-50%);
}

.label-large {
  font-size: 1.2rem; 
  font-weight: bold; 
}

.OrgDetails .form-group label {
  margin-bottom: 0.5rem;
  display: block;
  color: #333; 
}
